<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %} | Contact Book</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">

</head>
<body class="bg-blue-100 ">

{% block body %}
{% endblock %}

<script>
    document.getElementById('openWindow').addEventListener('click', function() {
    var slidingWindow = document.getElementById('slidingWindow');
    slidingWindow.classList.remove('hidden');
    slidingWindow.classList.add('visible');
});

document.getElementById('closeWindow').addEventListener('click', function() {
    var slidingWindow = document.getElementById('slidingWindow');
    slidingWindow.classList.remove('visible');
    slidingWindow.classList.add('hidden');
});

    document.getElementById('imageInput').addEventListener('change', function(event) {
    var input = event.target;
    var reader = new FileReader();

    reader.onload = function(){
        var dataURL = reader.result;
        var imagePreview = document.getElementById('imagePreview');
        imagePreview.src = dataURL;
        imagePreview.style.opacity="1";
    };

    reader.readAsDataURL(input.files[0]);
});

    {% block scripts %}
    {% endblock %}
</script>
</body>
</html>